* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  margin: 0;
  padding: 0;
}
.options-container {
  height: 4rem;
  width: 3rem;
  background-color: #f1f2f6;
  position: absolute;
  top: 1rem;
  left: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 2rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.tools-container {
  display: flex;
  height: 5rem;
  width: 55vw;
  background-color: #f1f2f6;
  justify-content: space-around;
  position: absolute;
  top: 2rem;
  left: 25vw;
  padding: 0.6rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.tools-container > * {
  display: block;
  width: 4rem;
}
.pencil-tool-container {
  height: 5rem;
  width: 6rem;
  position: absolute;
  left: 25vw;
  top: 7.2rem;
  background-color: #f1f2f6;
  display: none;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.pencil-width-container {
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pencil-width-container input {
  width: 80%;
}

.pencil-color-container {
  height: calc(100% - 2rem);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.pencil-color {
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
}

.black {
  background-color: black;
}

.red {
  background-color: red;
}

.blue {
  background-color: blue;
}

.eraser-tool-container {
  height: 2rem;
  width: 6rem;

  display: none;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 7.2rem;
  left: 32vw;
  background-color: #f1f2f6;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.eraser-tool-container input {
  width: 80%;
}
