* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  margin: 0;
  padding: 0;
}
.options-container {
  height: 4rem;
  width: 3rem;
  background-color: #f1f2f6;
  position: absolute;
  top: 1rem;
  left: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 2rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.tools-container {
  display: flex;
  height: 5rem;
  width: 55vw;
  background-color: #f1f2f6;
  justify-content: space-around;
  position: absolute;
  top: 2rem;
  left: 25vw;
  padding: 0.6rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.scale-tools {
  animation-name: scale-tools;
  animation-duration: 1s;
}
@keyframes scale-tools {
  0% {
    transform: scale(0.1);
  }
  100% {
    transform: scale(1);
  }
}

.tools-container > * {
  display: block;
  width: 4rem;
}
.pencil-tool-container {
  height: 5rem;
  width: 6rem;
  position: absolute;
  left: 25vw;
  top: 7.2rem;
  background-color: #f1f2f6;
  display: none;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.pencil-width-container {
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pencil-width-container input {
  width: 80%;
}

.pencil-color-container {
  height: calc(100% - 2rem);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.pencil-color {
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
}

.black {
  background-color: black;
}

.red {
  background-color: red;
}

.blue {
  background-color: blue;
}

.eraser-tool-container {
  height: 2rem;
  width: 6rem;

  display: none;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 7.2rem;
  left: 32vw;
  background-color: #f1f2f6;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.eraser-tool-container input {
  width: 80%;
}

.sticky-container {
  height: 15rem;
  width: 15rem;
  position: absolute;
  top: 14rem;
  left: 10rem;
}

.header-container {
  height: 2rem;
  background-color: #e1d4bb;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header-container > * {
  height: 1rem;
  width: 1rem;
  margin-right: 0.5rem;
  border-radius: 50%;
}

.minimize {
  background-color: greenyellow;
}

.remove {
  background-color: red;
}

.note-container {
  height: calc(100% - 2rem);
}

textarea {
  height: 100%;
  width: 100%;
  resize: none;
  border: none;
  outline: none;
  padding: 0.5rem;
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
  background-color: #eeeeee;
  box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
}

img {
  height: 100%;
  width: 100%;
}
